arch==4.14
backtrader==1.9.74.123
certifi==2020.4.5.1
chardet==3.0.4
colorclass==2.2.0
cycler==0.10.0
Cython==0.29.16
docopt==0.6.2
idna==2.9
kiwisolver==1.2.0
lxml==4.5.0
matplotlib==3.2.1
multitasking==0.0.9
numpy==1.18.3
packaging==20.3
pandas==1.0.3
pandas-datareader==0.8.1
patsy==0.5.1
pip-upgrader==1.4.15
property-cached==1.6.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
statsmodels==0.11.1
terminaltables==3.1.0
urllib3==1.25.9
yfinance==0.1.54
